.DS_Store
.idea/
__pycache__/
geckodriver.log
articles/*
websites.csv
fake-news-excess/*
logs/
text-articles/
auto-labelling.py
test_dataset.csv
annotations/
txt-labelled-articles/
json-annotations/


