.DS_Store
.idea/
__pycache__/
geckodriver.log
articles/*
*.csv
fake-news-excess/*
logs/
text-articles/
auto-labelling.py
annotations/
txt-labelled-articles/
json-annotations/
first_camembert_model.model
*.tar.gz
runs/
*.model
fake-news-articles/
customed_camembert_model.model
text_dataset.csv
*.svg
*.txt
text_dataset_1000.csv
*.tar.gz
runs/
*.model
fake-news-articles/
*.pnj
